* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrap40 {
  width: 40%;
  margin: 0 auto;
}
.wrap55 {
  width: 55%;
  margin: 0 auto;
}
.wrap80 {
  width: 80%;
  margin: 0 auto;
}
ul {
  list-style: none;
}
/* HEADER */
.header__nav {
  height: 70px;
  background-color: red;
}
.header__nav__logo {
  float: left;
  height: 38px;
}
.header__nav__list {
  float: right;
}
.header__nav__list li {
  display: inline;
}
.header__jumbo {
  background-color: yellow;
  text-align: center;
}
/* MAIN */
.main {
  background-color: grey;
}
/* MAIN FIRST */
.main__first {
  background-color: green;
  padding: 20px 0;
}
.main__first__logos {
  display: flex;
  justify-content: space-between;
}
.main__first__logos li a svg {
  height: 24px;
}
/* MAIN SECOND */
.main__second {
  background-color: blue;
}
.main__second__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__second__flex__left {
  width: 40%
}
.main__second__flex__right {
  width: 60%:
}
