* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.wrap40 {
  width: 40%;
  margin: 0 auto;
}
.wrap60 {
  width: 60%;
  margin: 0 auto;
}
.wrap80 {
  width: 80%;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
/* HEADER */
.header__nav {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(27, 28, 28, 0.97);
  line-height: 70px;
  border-bottom: 1px solid rgba(66,77,81,0.25);
  z-index: 509;
}
.header__nav--clear{
  content: "";
  display: table;
  clear: both;
}
.header__nav__logo {
  float: left;
  height: 34px;
  margin-top: 18px;
}
.header__nav__list {
  float: right;
}
.header__nav__list li {
  display: inline;
  margin-left: 16px;
}
.header__nav__list--underlined {
  padding-bottom: 5px;
}
.header__nav__list--colortext:hover {
  color: white;
}
.header__nav__list--underlined:hover {
  border-bottom: 2px solid #1FA3C8;
}
.header__nav__list--colortext {
  color: #84949A;
}
.header__button {
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 2px #A1DE41;
  border-radius: 4px;
  padding: 6px 5px;
}
.header__button--border {
  border: solid 2px #84949A;
}
.header__button:hover {
  color: #A1DE41;
  background-color: rgba(255, 255, 255, 0.1)
}
.header__nav__list--colorbutton {
  color: #FFEFB7;
}
/* HEADER JUMBO */
.header__jumbo {
  background: #202527;
  background: linear-gradient(#232424, #202527);
  text-align: center;
  padding-top: 140px;
  line-height: 22px;
}
.header__jumbo h1 {
  color: white;
  font-size: 3em;
  font-weight: bold;
  padding: 22px 0;
  width: 100%;
}
.header__jumbo p {
  font-size: 1.1em;
  color: #84949A;
}
.header__button--jumbostyle {
  color: #FFEFB7;
  display: inline-block;
  margin-top: 38px;
  margin-bottom: 70px;
  padding: 12px 42px;
  font-size: 1.1em;
}
.header__jumbo__img {
  overflow: hidden;
}
.header__jumbo__img img {
  margin: 0 auto;
  padding: 0;
  display: block;
}

/* MAIN */
/* MAIN FIRST */
.main__first {
  background-color: white;
  padding: 24px 0;
  border-bottom: 1px solid rgba(66,77,81,0.25);
  border-top: 1px solid rgba(66,77,81,0.25);
}
.main__first__logos {
  display: flex;
  justify-content: space-between;
}
.main__first__logos li a svg {
  height: 24px;
  filter: invert(0.8);
}
/* MAIN SECOND */
.main__second {
  background-color: white;
  margin: 150px 0 120px 0;
}
.main__second__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__second__flex__left {
  width: 40%
}
.main__second__flex__right {
  width: 60%;
}
.main__icon {
  display: inline;
  width: 26px;
  margin-right: 8px;
  vertical-align: middle;
}
.main__h6 {
  display: inline;
  color: grey;
  font-weight: normal;
  font-size: 1.1em;
}
.main__h2 {
  padding: 20px 0;
  font-size: 2.4em;
  color: #272727;
}
.main__divider {
  width: 25px;
  height: 4px;
  border: 2px solid rgba(66,77,81,0.25);
  border-radius: 20%;
}
.main__p {
  line-height: 20px;
  padding: 20px 0;
  font-size: 1.1em;
  color: grey;
}
.main__a {
  font-weight: 800;
  font-size: 0.9em;
  color: #1FA3C8;
  padding: 2px 0;
  border-bottom: solid 1px #1FA3C8;
}
.main__second__flex__right--imgwidth {
  width: 100%;
}

/* MAIN THIRD */
.main__third {
  background-color: #202527;
}
.main__third__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__third__flex__left {
  width: 40%
}
.main__third__flex__right {
  width: 60%;
}
.main__h6--white {
  color: white;
}
.main__third__flex__right--img {
  width: 80%;
  margin-left: 10%;
  margin-top: 360px;
  display: block;
}
/* MAIN FOURTH */
.main__fourth {
  background-image: url(../img/onda.svg);
  height: 600px;
  overflow: hidden;
  background-position:top;
  background-size: auto;
}
.main__fourth__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__fourth__flex__left {
  width: 40%;
}
.main__fourth__flex__right {
  width: 60%;
  display:flex;
}
.main__fourth__flex__right img {
  width: 44%;
  margin-left: 6%;
  margin-top: 380px;
}
/* MAIN FIFTH */
.main__fifth {
  background-color: white;
  border-top: 1px solid rgba(66,77,81,0.25);
}
.main__fifth__flex {
  display: flex;
  justify-content: center;
}
.main__fifth__flex__left {
  width: 50%;
  text-align: center;
  border-right: 1px solid rgba(66,77,81,0.25);
  padding: 100px 0 100px 0;
}
.main__fifth__flex__right {
  width: 50%;
  text-align: center;
  overflow: hidden;
  padding: 100px 0 100px 0;
}
.main__p--padding {
  padding: 0 70px;
}
.main__span {
  display: block;
  font-size: 0.8em;
  color: grey;
  padding-top: 20px;
  font-style: italic;
}
/* FOOTER  */
.footer {
  width: 100%;
  background-color: #202527;
}
.footer--clear{
  content: "";
  display: table;
  clear: both;
}
.footer__list__ul {
  float: left;
  width: 20%;
  line-height: 25px;
  padding: 40px 0 40px 0;
}
.footer__list__ul a {
 color: #84949A;
}
.footer__list__ul__title {
  color: #ECEEEF;
  font-weight: 700;
}
.footer__list__ul a:hover {
  opacity: 0.8;
}
.footer__language {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #ECEEEF;
  font-weight: 700;
  font-size: 0.8em;
}
.footer__language__button {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 2px #84949A;
  color: #84949A;
  border-radius: 4px;
  padding: 10px 40px 10px 10px;
  border-radius: 40px;
}
.footer__language--padding {
  padding-bottom: 40px;
}

/* MEDIAQUERIES */
